body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}
h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

button {
    border: none; 
    border-radius: 25px;
    padding: 0;
    height: 50px;
    width: 165px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}

button:hover {
    box-shadow: inset -5px -7px #0354b8;
}
button:active {
    box-shadow: inset -5px -5px #013c83;
}
button:focus {
    outline: none ;
}

.title {
    font-weight: 600;
}

header {
    background: url(/img/bgHeader.png) no-repeat center top;
    background-size: 100% 100%;
    height: 1000px;
    overflow: hidden;
}

.container__header {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 130px;
    height: 80px;
    background: #0f7bff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 20px;
}

.logo__text {
    padding: 25px 20px;
    font-weight: 900;
    color: #fff;
    font-size: x-large;
}

.container__nav {
    display: flex;
    flex-direction: row;
}

nav {
    margin-top: 32px;
}

.menu {
    padding: 0;
    margin: 0;
}

.btn__menu {
    display: none;
}

nav label {    
    display: none;
}

.menu li {
    float: left;
    display: block;
    margin: 0 20px;
}

.menu li a {
    color: #929292;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #0063dd;
}

.btn__signUp { 
    margin-left: 20px;
    margin-top: 19px;
    background-color: #0063dd;
    color: #fff;
    align-self: baseline;
}

.container__btnTitles {
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn__blue { 
    background-color: #0f7bff;
    color: #fff;
}

.btn__white {
    border-style: solid;
    border-color: #0f7bff;
    background-color: #f5fcfd;
    color: #0f7bff;
}

.btn__white:hover {
    border-color: #0354b8;
}
.btn__white:active {
    border-color: #013c83;
}

.container__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__titles .title {
    font-weight: 900;
    margin-top: 100px;
}

.lorem {
    margin: 35px 30px 40px 30px;
    max-width: 615px;
    text-align: center;
    color: #929292;
    line-height: 25px;
}

.bg__tlphn {
    position: relative;
    text-align: center;
    top: 40px;
}


/* 2d block */


.bg__blue {
    background-color: #f5fcfd;
}

.container {
    max-width: 1140px;
    margin: 0 auto;  
}

.container__card {
    padding-top: 165px;
    padding-bottom: 130px;
    min-height: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    width: 360px;
    height: 235px;
    padding: 40px 0;
    border-radius: 5px;
    text-align: center;
}

.shadow {
    box-shadow: 0 0 20px #c0c6c76b; 
}

.card .title {
    padding-top: 35px;
    font-size: medium;
}

.icon__card {
    margin: auto;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marg50 {
    margin-top: 50px;
}

.icon__bg__blue {
    background-color: #dfedff;
}

.icon__bg__purple {
    background-color: #f5dfff;
}

.icon__bg__green {
    background-color: #dfffe3;
}


/* 3d block */


.bg__rhombus {
    background: url(/img/rhombus.png) no-repeat center top;
    background-size: auto 100%;
    min-height: 1040px;
}

.descr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 65px;
}

.descr:last-child {
    padding-top: 20px;
}

.descr__txt {  
    padding-left: 70px;
}

.descr img {    
    margin: 0 auto;
    height: 450px;
}

.icon__descr1 {
    margin-left: 95px;
}

.icon__descr2 {
    margin-left: 70px;
    margin-right: 90px;
}

.descr a {
    color: #0f7bff;
    font-weight: 600;
    text-decoration: none;
}

.descr a img{
    width: 15px;
    height: 11px;
}

.descr .lorem { 
    text-align: start;
    margin-left: 0;
    margin-right: 0;
}


/* 4th block */


.hdiw {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0;
}

.hdiw .title {
    padding: 20px 0 40px 0;
    background: url(/img/bgTitle.png) no-repeat center center;
    background-size: auto;
}

.hdiw .lorem {
    max-width: 730px;
    margin-top: 0;
    margin-bottom: 0;
}

.hdiw .container__card {
    background: none;
    padding-top: 0;
    min-height: 210px;
    padding-bottom: 0;
    position: relative;
}

.hdiw .container__card::before {
    content: "";
    position: absolute;
    width: 70%;
    top: 90px;
    margin-left: 150px;
    border-bottom: 1px dotted #0f7bff;
    z-index: 1;
}

.hdiw .card {
    background-color: inherit;
    height: auto;
    z-index: 2;
}

.hdiw .container__card .title {
    background: none;
    padding-bottom: 20px;
}

.hdiw .container__card .icon__card {
    height: 100px;
    width: 100px;
    line-height: 100px;
}


/* 5th block */


.pricing {
    padding: 125px 0;
}

.pricing .descr {
    padding-top: 0;
}

.pricing .descr__txt {
    padding-left: 0;
    width: 330px;
    max-height: 300px;
}

.pricing .container__btnTitles {
    min-width: 330px;
}

.pricing .container__btnTitles .btn__blue {
    border-radius: 25px 0 0 25px;
}

.pricing .container__btnTitles .btn__white {
    border-radius: 0 25px 25px 0;
}

.pricing .card {
    height: auto;
}

.pricing .btn__white {
    background-color: #fff;
}

.pricing .card .title {
    padding: 30px 40px;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
}

.pricing ul {
    margin-top: 25px;
    padding-left: 0;
}

.pricing li {
    padding-bottom: 15px;
    list-style-type: none;
    color: #929292;
}

.price {
    color: #0f7bff;
    font-weight: 600;
    font-size: x-large;
    padding-bottom: 40px;
}

.price small{
    font-size: small;
}

.pricing .icon__card {
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.min__icon__card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfe4fe;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    line-height: 75px;
}


/* 9th block */

.bg__azure {
    background-color: #0f7bff;
    border-bottom: 1px solid #fff;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.container__sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container__sub button {
    background: #fff;
    color: #0f7bff;
    border-radius: 0 25px 25px 0;
    text-transform: uppercase;
}

.container__sub input {
    border: 2px solid #fff;
    padding: 0 0 0 30px;
    min-width: 300px;
    background-color: #0f7bff;
    color: #fff;
    border-radius: 25px 0 0 25px;
    outline: none;
}
.container__sub input::-webkit-input-placeholder {
    color: #fff;
}
.container__sub input::-moz-placeholder {
    color: #fff;
}


/* footer */

footer {
    background-color: #0f7bff;
    color: #fff;
    padding: 25px 0;
}

.container__footer {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy {
    margin-left: auto;
}

footer .links{
    margin-left: 150px;
}

footer a {
    margin: 0 20px;
    color: #bdccdd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}

.social {
    margin-left: 50px;
}

.social a {
    margin: 0 15px 0 0;
}

.social svg {
    height: 20px;
}

.social svg:hover {
    text-decoration: none;
    color: #fff;
}

.scroll__top {
    width: 45px;
    height: 45px;
    color: #0f7bff;
    background-color: #fff;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 20px;
}

.scroll__top a {
    padding: 12px;
    margin: 0;
}
.scroll__top a:hover{
    box-shadow: none;
}




a:hover {
    text-decoration: underline;
    color: #0063dd;
}


@media (max-width: 1200px), (max-width: 1200px) and (orientation: portrait) {
    .lorem {
        max-width: 450px;
    }
    .container__card {
      margin: 0 20px;
    }
    .card {
        width: 275px;
        height: 260px;
    }

    .bg__rhombus {
        background: none;
        background-color: #fff;
        min-height: auto;
    }
    .descr:last-child {
        padding-left: 50px;
    }
    .icon__descr1 {
        margin-left: 0;
    }
    .icon__descr2 {
        margin-left: 0;
        margin-right: 0;
    }

    .pricing .card {
        width: 250px;
    }

    .container__footer {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .copy {
        margin-left: 0;
        margin-bottom: 20px;
    }
    footer .links{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .social {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .scroll__top {
        margin: 0;
    }
}

@media (max-width: 900px), (max-width: 900px) and (orientation: portrait) {
    header {
        background: none;
        background-color: #f5fcfd;
        height: auto;
        padding-bottom: 60px;
    }
    .bg__tlphn {
        display: none;
    }

    .container__card {
        display: flex;  
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 50px;
    }
    .card {
        margin-top: 50px;
    }

    .descr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }
    .descr:last-child {
        padding-left: 0;
        flex-direction: column-reverse;
    }
    .icon__descr1 {
        margin-left: 0;
    }
    .icon__descr2 {
        margin-left: 0;
        margin-right: 0;
    }
    .descr img {    
        height: 350px;
    }
    .descr__txt {  
        padding-left: 0;
    }
    .descr .title {
        text-align: center;
    }

    .bg__rhombus {
        padding-bottom: 50px;
    }

    .hdiw {
        padding: 80px 0 50px;
    }
    .hdiw .card {
        padding: 0;
    }

    .pricing {
        padding-top: 50px;
    }
}

@media (max-width: 600px), (max-width: 600px) and (orientation: portrait) {
    header {
        height: 500px;
        padding-bottom: 40px;
    }
    .lorem {
        max-width: 300px;
    }
    nav label{
        display: flex;     
    }
    nav {
        display: flex;  
        flex-direction: column;
        align-items: flex-end;
        margin-top: 18px;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 55px;
    }
    .menu li {
        margin: 10px 4px 0 20px;
    }
    input[type="checkbox"]:checked ~ label + ul {
        display: flex;  
        flex-direction: column;
        align-items: flex-end;
    }
    .container__btnTitles {
        min-width: 350px;
    }

    .container__sub input {
        min-width: 150px;
    }
}