@font-face {
    font-family: "Quicksand"; 
    src: url("../fonts/Quicksand-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "Quicksand"; 
    src: url("../fonts/Quicksand-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 600; 
} 
@font-face {
    font-family: "Quicksand"; 
    src: url("../fonts/Quicksand-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 
    

body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

button {
    border: none; 
    border-radius: 25px;
    padding: 0;
    height: 50px;
    width: 165px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

button:hover {
    box-shadow: inset -5px -7px #0354b8;
}
button:active {
    box-shadow: inset -5px -5px #013c83;
}
button:focus {
    outline: none ;
}

h2 {
    font-weight: 600;
    margin: 0;
}

.bg__title {
    padding: 20px 0 40px;
    background: url(../img/bgTitle.png) no-repeat center center;
    background-size: auto;
}

header {
    background: url(../img/bgHeader.png) no-repeat center top;
    background-size: 100% 100%;
    max-height: 1080px;
    overflow: hidden;
}

.container__header {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 130px;
    height: 80px;
    background: #0f7bff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 20px;
}

.logo__text {
    padding: 25px 20px;
    font-weight: 700;
    color: #fff;
    font-size: x-large;
}

.container__nav {
    display: flex;
    flex-direction: row;
}

nav {
    margin-top: 32px;
}

.menu {
    padding: 0;
    margin: 0;
}

.btn__menu {
    display: none;
}

nav label {    
    display: none;
}

.menu li {
    float: left;
    display: block;
    margin: 0 20px;
}

.menu li a {
    color: #929292;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #0063dd;
}

.btn__signUp { 
    margin-left: 20px;
    margin-top: 19px;
    background-color: #0063dd;
    color: #fff;
    align-self: baseline;
}

.container__btnTitles {
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn__blue { 
    background-color: #0f7bff;
    color: #fff;
}

.btn__white {
    border-style: solid;
    border-color: #0f7bff;
    background-color: #f5fcfd;
    color: #0f7bff;
}

.btn__white:hover {
    border-color: #0354b8;
}
.btn__white:active {
    border-color: #013c83;
}

.container__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__titles h1 {
    font-weight: 700;
    margin-top: 100px;
    text-align: center;
}

.lorem {
    margin: 35px 30px 40px 30px;
    max-width: 600px;
    max-height: 400px;
    text-align: center;
    color: #929292;
    line-height: 25px;
}

.bg__tlphn {
    position: relative;
    text-align: center;
    top: 40px;
}


/* 2d block */


.bg__blue {
    background-color: #f5fcfd;
}

#feautures {
    position: relative;
}

.scroll__down {
    position: absolute;
    margin-top: -35px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-style: solid;
    border-color: #dcdcdc;
    background-color: #fff;
    text-align: center;
}

.scroll__down img {
    margin-top: 16px;
}

.scroll__down:hover {
    border-color: #0354b8;
}
.scroll__down:active {
    border-color: #013c83;
}

.container {
    max-width: 1140px;
    margin: 0 auto;  
}

.container__card {
    padding-top: 165px;
    padding-bottom: 130px;
    min-height: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    width: 360px;
    height: 235px;
    padding: 40px 0;
    border-radius: 5px;
    text-align: center;
}

.shadow {
    box-shadow: 0 0 20px #c0c6c76b; 
}

.card h2 {
    padding-top: 35px;
    font-size: medium;
}

.icon__card {
    margin: auto;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marg50 {
    margin-top: 50px;
}

.icon__bg__blue {
    background-color: #dfedff;
}

.icon__bg__purple {
    background-color: #f5dfff;
}

.icon__bg__green {
    background-color: #dfffe3;
}


/* 3d block */


.bg__rhombus {
    background: url(../img/rhombus.png) no-repeat center top;
    background-size: auto 100%;
    min-height: 1040px;
}

.descr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}


.icon__descr {
    height: 400px;
    min-width: 400px;
    margin: 0 90px;
    background: url(../img/emLeft.png) no-repeat left center;
    background-size: auto;
}

.icon__descr:first-child {
    background: url(../img/emLeft.png) no-repeat left center;
    background-size: auto;
}

.icon__descr:last-child {
    background: url(../img/kitLeft.png) no-repeat left center;
    background-size: auto;
}

.descr .descr__txt {
    padding: 0 7px;
}

.descr img {
    float: right;
    margin-top: 31px;
}

.descr a {
    color: #0f7bff;
    font-weight: 600;
    text-decoration: none;
}

.descr a img{
    width: 15px;
    height: 11px;
}

.descr .lorem { 
    text-align: start;
    margin-left: 0;
    margin-right: 0;
}


/* 4th block */


.hdiw {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0;
}

.hdiw .lorem {
    max-width: 730px;
    margin-top: 0;
    margin-bottom: 0;
}

.hdiw .container__card {
    background: none;
    padding-top: 0;
    min-height: 210px;
    padding-bottom: 0;
    position: relative;
}

.hdiw .container__card::before {
    content: "";
    position: absolute;
    width: 70%;
    top: 90px;
    margin-left: 150px;
    border-bottom: 1px dotted #0f7bff;
    z-index: 1;
}

.hdiw .card {
    background-color: inherit;
    height: auto;
    z-index: 2;
}

.hdiw .container__card h2 {
    background: none;
    padding-bottom: 20px;
}

.hdiw .container__card .icon__card {
    height: 100px;
    width: 100px;
    line-height: 100px;
}


/* 5th block */


.pricing {
    padding: 125px 0;
}

.pricing .descr {
    padding-top: 0;
}

.pricing .descr__txt {
    padding-left: 0;
    width: 330px;
    max-height: 300px;
}

.pricing .container__btnTitles {
    min-width: 330px;
    max-width: 330px;
}

.pricing .container__btnTitles .btn__blue {
    border-radius: 25px 0 0 25px;
}

.pricing .container__btnTitles .btn__white {
    border-radius: 0 25px 25px 0;
}

.pricing .card {
    height: auto;
}

.pricing .btn__white {
    background-color: #fff;
}

.pricing .card h2 {
    padding: 30px 40px;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
}

.pricing ul {
    margin-top: 25px;
    padding-left: 0;
}

.pricing li {
    padding-bottom: 15px;
    list-style-type: none;
    color: #929292;
}

.price {
    color: #0f7bff;
    font-weight: 600;
    font-size: x-large;
    padding-bottom: 40px;
}

.price small{
    font-size: small;
}

.pricing .icon__card {
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.min__icon__card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfe4fe;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    line-height: 75px;
}


/* 6th block */

.bg__trust {
    float: left;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.bg__trust img{
    float: right;
}

.trust {
    padding: 130px 20px;
    margin-left: 45%;
    overflow: hidden;
}

.trust h2 {
    text-align: center;
}

.trust .container__card {
    padding: 30px 0 40px;
    min-height: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trust .card {
    padding: 35px 30px;
    text-align: start;
    height: 145px;
    min-width: 300px;
    margin: 0 15px;
}

.trust__title { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.trust__title h2 { 
    text-align: start;
    padding: 0;
    margin-bottom: 10px;
}


.trust svg {
    margin-top: 5px;
    height: 15px;
    color: #03a9f4;
}

.trust .lorem {
    text-align: start;
    margin: 20px 0 0;
}

.slider__btn input[type="radio"]{
    display: none;
}

input[type="radio"] + label
{
    background: #d4d4d4;
    height: 10px;
    width: 20px;
    border-radius: 5px;
    margin-right: 10px;
    display:inline-block;
}

input[type="radio"]:checked + label
{
    background: #0f7bff;
    width: 30px;
    margin-right: 10px;
}


/* 7th block */


.pages {
    width: 100%;
    align-items: center;
    padding: 110px 0 130px;
    text-align: center;
}
.pages .lorem {
    margin: 0 auto;
}

.news {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.other__news .card{
    display: flex;
    min-width: 530px;
    height: 120px;
    padding: 40px 0 0;
}

.other__news img{
    width: 165px;
    height: 120px;
    margin-right: 30px;
}

.other__news h2 {
    padding: 0;
    line-height: 27px;
    text-align: start;
}

.news .lorem {
    margin: 10px 0 20px;
    text-align: start;
}

.main__news .card {
    min-height: 300px;
    min-width: 555px;
    padding-bottom: 0;
}

.main__news h2 {
    text-align: start;
    color: #0f7bff;
    font-size: x-large;
}

.main__news a {
    float: left;
    color: #0f7bff;
    font-weight: 600;
    text-decoration: none;
}


/* 8th block */


.free {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.free h2 {
    margin-bottom: 20px;
}

.free__txt div {
    color: #929292;
}

.free .btn__blue {
    border-radius: 5px;
    height: 60px;
    width: 210px;
    margin-left: 150px;
}


/* 9th block */

.bg__azure {
    background-color: #0f7bff;
    border-bottom: 1px solid #fff;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.container__sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container__sub button {
    background: #fff;
    color: #0f7bff;
    border-radius: 0 25px 25px 0;
    text-transform: uppercase;
}

.container__sub input {
    border: 2px solid #fff;
    padding: 0 0 0 30px;
    min-width: 300px;
    background-color: #0f7bff;
    color: #fff;
    border-radius: 25px 0 0 25px;
    outline: none;
}
.container__sub input::-webkit-input-placeholder {
    color: #fff;
}
.container__sub input::-moz-placeholder {
    color: #fff;
}


/* footer */

footer {
    background-color: #0f7bff;
    color: #fff;
    padding: 25px 0;
}

.container__footer {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy {
    margin-left: auto;
}

footer .links{
    margin-left: 150px;
}

footer a {
    margin: 0 20px;
    color: #bdccdd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}

.social {
    margin-left: 50px;
}

.social a {
    margin: 0 15px 0 0;
}

.social svg {
    height: 20px;
}

.social svg:hover {
    text-decoration: none;
    color: #fff;
}

.scroll__top {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 20px;
}

.scroll__top img {
    padding: 11px 14px;
}

.scroll__top:hover{
    box-shadow: inset -5px -7px #0354b8;
}



a:hover {
    text-decoration: underline;
    color: #0063dd;
}


@media (min-width: 1870px) {  
    .bg__trust img{
        float: left;
    }
}

@media (max-width: 1200px), (max-device-width: 15cm), (orientation: portrait) {
    header .lorem {
        max-width: 450px;
    }
    .container__card {
      margin: 0 20px;
    }
    .card {
        width: 275px;
        height: 260px;
    }

    .bg__rhombus {
        background: none;
        background-color: #fff;
        min-height: auto;
    }
    .descr:first-child {
        padding-right: 50px;
    }
    .descr:last-child {
        padding-left: 50px;
        margin-bottom: 50px;
    }
    .icon__descr {
        margin: 0 40px;
    }

    .pricing .card {
        width: 250px;
    }
    .pricing .descr {
        padding-right: 10px;
    }

    .container__footer {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .copy {
        margin-left: 0;
        margin-bottom: 20px;
    }
    footer .links {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .social {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .scroll__top {
        margin: 0;
    }

    .bg__trust {
        display: none;
    }
    .trust {
        padding: 50px 20px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .trust .container__card {
        padding: 30px 0 40px;
        min-height: 215px;
        max-width: 875px;
    }
    .trust .card {
        min-width: 150px;    
        height: 190px;
    }

    .pages {
        padding: 50px 20px;
        width: auto;
    }

    .news {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 900px), (max-device-width: 12cm), (orientation: portrait) {
    header {
        background: none;
        background-color: #f5fcfd;
        padding-bottom: 60px;
    }
    .bg__tlphn {
        display: none;
    }

    .container__card {
        display: flex;  
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .card {
        margin-top: 50px;
        max-width: 500px;
        width: auto;
        height: auto;
    }
    .card .lorem {
        margin-bottom: 0;
    }

    .descr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }
    .descr:first-child {
        padding-right: 0;
    }
    .descr:last-child {
        padding-left: 0;
        flex-direction: column-reverse;
    }
    .descr img {    
        height: 350px;
    }
    .descr .descr__txt {  
        padding: 0 20px
    }
    .descr h2 {
        text-align: center;
        margin-top: 30px;
    }

    .hdiw {
        padding: 80px 0 50px;
    }
    .hdiw .lorem {
        max-width: 600px;
    }
    .hdiw .card {
        padding: 0;
    }
    .hdiw .container__card::before {
        border: none;
    }

    .pricing {
        padding-top: 50px;
    }
    .pricing .descr__txt {
        width: auto;
        max-width: 600px;
    }
    .pricing .container__btnTitles {
        margin: 0 auto;
    }
    .pricing .card {
        width: 300px;
        height: auto;

    }
    
    .trust .container__card {
        display: flex;  
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .trust .card {
        margin-top: 50px;
        min-width: 300px;    
        height: 150px;
    }

    .pages .card {
        margin-top: 0;
    }
}

@media (max-width: 600px), (max-device-width: 10cm), (orientation: portrait) {
    header {
        padding-bottom: 40px;
    }
    .lorem {
        max-width: 400px;
    }
    nav label{
        display: flex;     
    }
    nav {
        display: flex;  
        flex-direction: column;
        align-items: flex-end;
        margin-top: 18px;
        position: relative;
    }
    nav ul {
        display: none;
        position: absolute;
        top: 35px;
    }
    .menu li {
        margin: 10px 4px 0 20px;
    }
    input[type="checkbox"]:checked ~ label + ul {
        display: flex;  
        flex-direction: column;
        align-items: flex-end;
    }
    .container__btnTitles {
        min-width: 350px;
    }

    .container__sub input {
        min-width: 150px;
    }

    .main__news .card {
        min-width: 350px;
    }
    .main__news a {
        margin-top: 20px;
    }
    .main__news h2 {
        padding-top: 10px;
    }
    .main__news .card img {
        max-width: 410px;
    }
    .other__news .card {
        flex-direction: column;
        align-items: center;
        min-height: 230px;
        min-width: 300px;
    }
    .other__news img{
        margin-bottom: 20px;
    }

    .free {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
    }
    .free .btn__blue {
        margin-left: 0;
        width: 150px;
        margin-top: 20px;
    }

    .subscribe {
        padding: 50px 0;
    }
}

@media (max-width: 450px), (max-device-width: 7cm) {
    button {
        width: 150px;
    }
    
    .container__header {
        flex-direction: column;
        height: 80px;
    }
    .logo {
        display: none;
    }
    .container__nav {
        justify-content: space-around;
    }
    nav {
        align-items: flex-start;
    }
    .menu li {
        margin: 10px 0 0 4px;
    }
    input[type="checkbox"]:checked ~ label + ul {
        align-items: flex-start;
    }
    .container__btnTitles {
        min-width: 305px;
    }
    
    .icon__descr {
        height: 300px;
        min-width: 300px;
    }
    .icon__descr img {
        margin-top: 25px;
        height: 250px;
    }

    .pricing .descr__txt {
        width: 300px;
    }
    .pricing .container__btnTitles {
        min-width: 300px;
    }

    .trust .card {
        min-width: 200px;
        min-height: 200px;
    }

    .main__news .card {
        min-width: 300px;
    }
    .main__news .card img {
        max-width: 300px;
    }

    .subscribe button {
        width: 100px;
    }

    footer .copy {
        padding: 0 20px;
        text-align: center;
    }
    footer .links {
        display: flex;
        align-items: center;
    }
}